.list-creator-container {
	margin-top: 32px;
	min-width: 280px;

	.list-creator {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 16px;
		border: 1px solid var(--grey800);
		border-radius: var(--radius-s);
		background-color: var(--grey900);

		.new-list-title {
			margin-bottom: 6px;
			padding: 8px;
			width: 100%;
			min-height: 36px;
			border: 1px solid var(--grey900);
			color: var(--white);
			background-color: var(--grey800);
			font-size: var(--fz-p);
			font-weight: var(--fw-medium);
			border-radius: 6px;
			resize: none;
			word-wrap: break-word;
			cursor: pointer;
			caret-color: var(--white);
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */

			&:focus {
				border: 1px solid var(--blue400);
			}
		}

		.list-control {
			display: flex;
			align-items: center;
			gap: 8px;

			.add-list-btn {
				padding: 8px 12px;
				font-size: var(--fz-sm);
				font-weight: var(--fw-medium);
				border-radius: var(--radius-s);
				color: var(--white);
				background-color: var(--blue400);
				transition: background 0.15s ease-in-out;

				&:hover {
					background-color: var(--blue300);
				}
			}

			.list-creator-close-btn {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: calc(var(--padding-container-mobile) * 0.5);
				font-size: var(--fz-h6);
				color: var(--grey200);
				border-radius: var(--radius-s);
				transition: background 0.15s ease-in-out;

				&:hover {
					background-color: var(--grey800);
				}
			}
		}
	}

	.list-creator.hidden {
		display: none;
	}

	.list-creator-open-btn {
		padding: 16px 32px;
		width: 100%;
		font-size: var(--fz-p);
		font-weight: var(--fw-semibold);
		color: var(--white);
		background-color: var(--black);
		border-radius: var(--radius-s);
		box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	.list-creator-open-btn.hidden {
		display: none;
	}
}
