#layoutMain {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 60px 16px;
	height: 100dvh;
	background-color: var(--grey50);
	color: var(--black);
	overflow-x: scroll;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	@media screen and (min-width: 640px) {
		flex-direction: row;
	}
}

.drag {
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: none;
}

.drag * {
	visibility: hidden;
}

.fragment {
	position: absolute;
	width: 280px;
	left: -1000px;
	transform: rotate(2deg);

	textarea {
		padding: 6px 8px;
		min-height: 36px;
		max-height: 256px;
		height: 36px;
		line-height: 24px;
		background-color: var(--grey200);
		border-radius: var(--radius-xs);
		color: var(--black);
		resize: none;
		overflow: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.fragment.list-item {
	background-color: var(--grey50);
	border-radius: var(--radius-s);

	.list-item-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: var(--padding-container-mobile);
		border: 1px solid var(--grey300);
		background-color: var(--grey50);
		border-radius: var(--radius-s);
		box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

		.list-item-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 8px;

			.list-item-title {
				padding: 6px 8px;
				width: 100%;
				min-height: 36px;
				max-height: 256px;
				height: 36px;
				font-weight: var(--fw-bold);
				border-radius: var(--radius-xs);

				&::-webkit-scrollbar {
					display: none; /* Chrome, Safari, Opera*/
				}
			}

			.delete-list-btn {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: calc(var(--padding-container-mobile) * 0.5);
				color: var(--black);
				font-size: var(--fz-h6);
			}
		}

		.card-creator-open-btn {
			display: inline-flex;
			align-items: center;
			padding: 8px 12px;
			font-size: var(--fz-sm);
			font-weight: var(--fw-medium);
			color: var(--white);
			background-color: var(--blue400);
			border: 1px solid var(--blue300);
			border-radius: var(--radius-s);

			.bx-plus {
				font-size: var(--fz-sm);
				color: var(--white);
			}

			&:hover {
				background-color: var(--blue300);
			}
		}

		.card-creator {
			.new-card-title {
				margin: 0 0 6px;
				padding: 6px 8px;
				width: 100%;
				min-height: 36px;
				border: 1px solid var(--grey300);
				color: var(--grey900);
				background-color: var(--grey200);
				font-size: var(--fz-p);
				font-weight: var(--fw-medium);
				border-radius: var(--radius-xs);
				resize: none;
				word-wrap: break-word;
				cursor: pointer;
				caret-color: var(--black);
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}

		.card-control {
			display: flex;
			align-items: center;
			gap: 8px;

			.add-card-btn {
				padding: 8px 12px;
				font-size: var(--fz-sm);
				font-weight: var(--fw-medium);
				color: var(--white);
				background-color: var(--blue400);
				border: 1px solid var(--blue300);
				border-radius: var(--radius-s);
			}

			.card-creator-close-btn {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: calc(var(--padding-container-mobile) * 0.5);
				font-size: var(--fz-h6);
				color: var(--grey700);
			}
		}
	}
}

.fragment.card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	border-radius: var(--radius-s);
	border: 1px solid var(--grey300);
	background-color: var(--grey200);

	.card-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		clear: both;
		overflow: hidden;

		.card-content {
			overflow: hidden;
			word-wrap: break-word;
		}

		.delete-card-btn {
			display: none;
			position: absolute;
			top: 4px;
			right: 4px;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			font-size: var(--fz-h7);
			color: var(--grey900);
			background-color: var(--white);
			border-radius: var(--radius-s);
		}
	}
}
